{% extends 'basic.html' %}
{% block title %}{{title}}{% endblock title %}
{% block style %}

{% endblock style %}
{% block body %}
{% load static %}
{% load humanize %}
{% if pages %}
{{pages.0.page|safe}}
{% else %}
<div style="display:flex;justify-content:center;align-items:center;">
    <img src="{% static 'home/icons/noblogg.gif' %}" alt="">
</div>
{% endif %}
{% endblock body %}

{% block js %}

<script>
    namedata = JSON.parse("{{names|escapejs}}");
    // console.log(namedata)
    let btitle = document.getElementsByClassName('btitle')
    let names = []
    for (let index = 0; index < namedata.length  ; index++) {
        const element = btitle[index];
        names[index] = btitle[index].innerHTML.replace('\n','_').replaceAll(/\s/g,'').toLowerCase();
    }
    for (let name = 0; name < namedata.length; name++) {
        btitle[name].href = '/html-course/'+names[name]+'/'
    }
    console.log(names)
</script>

{% endblock js %}